h1{
	margin-left: 180px;
	font-size: 25px;
	margin-right: 966px;
	margin-top: 91px;
	height: 36px;
	width: 294;
	text-align: left;

}
p{
	margin-right: 181px;
	margin-top: 30px;
	margin-left: 180px;
	font-size: 25px;
	height:169px ;
	width:1079px ;
	
}
div{
	margin-right: 90px;
	margin-left: 90px;
	background-color: ghostwhite;
	height: 594.66px;
	width:1260px ;

}
.box1-title{
	height: 36px;
	width: 110px;
	font-size: 25px;
	padding-left: 00px;
	padding-top:60px ;
	padding-right:1060px ;
}
.box1-text{
	height:126px ;
	width: 438px;
	padding-right: 180px;
	padding-left: 732;
	padding-top: 30px;
	display: inline-block;
}
.box2-text{
	display: inline-block;
	height:126px ;
	width: 438px;
	padding-left: 618px;
	padding-right: 204px;
	padding-top: 60px;
}

