h1{
	margin-left: 180px;
	font-size: 25px;
	margin-right: 966px;
	margin-top: 91px;
	height: 36px;
	width: 294px;
	text-align: left;

}
p{
	margin-right: 181px;
	margin-top: 30px;
	margin-left: 180px;
	font-size: 25px;
	height:169px ;
	width:1079px ;
	
}
div{
	margin-right: 90px;
	margin-left: 90px;
	background-color: ghostwhite;
	height: 594.66px;
	width:1260px ;

}
.box1-title{
	height: 36px;
	width: 110px;
	font-size: 25px;
	padding-left: 00px;
	padding-top:60px ;
	padding-right:1060px ;
}
.box1-text{
	height:126px ;
	width: 438px;
	display: inline-block;
	padding-top: 30px;
}
.box2-text{
	height:126px ;
	width: 438px;
	display: inline-block;
}
.box3-title{
	height: 36px;
	width: 110px;
	font-size: 25px
}
.box3-text{
	height:126px ;
	width: 438px;
	display: inline-block;
	padding-top: 30px;
}
.box3-text2{
	height:126px ;
	width: 438px;
	display: inline-block;
	padding-top: 30px;
}
h2{
	margin-left: 180px;
	font-size: 25px;
	margin-right: 966px;
	margin-top: 91px;
	height: 36px;
	width: 469px;
	text-align: left;
}
.last{
	height:326px ;
	width:794px ;
	font-size: 18px;
	margin-left: 180px;
	margin-right: 466px;
	padding-top: 60px;
}